@model ForgotPasswordDto

<link rel="stylesheet" href="~/css/login.css" />

<div class="login-page">
    <div class="login-card">

        <h2 class="login-title">Forgot Password</h2>
        <p class="text-muted small text-center mb-3">
            Enter your email and we’ll help you reset your password
        </p>

        <form asp-action="ForgotPassword" method="post">
            @Html.AntiForgeryToken()

            <label class="form-label fw-semibold">Email</label>
            <input asp-for="Email"
                   class="form-control"
                   placeholder="Enter your email" />
            <span asp-validation-for="Email" class="text-danger small"></span>

            <button type="submit" class="btn btn-login mt-3">
                Send Reset Link
            </button>

            <a asp-controller="Auth"
               asp-action="Login"
               class="btn btn-outline-primary btn-login mt-3">
                Back to Login
            </a>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
