@model WebApplication4.Dto.RequestCreatePatient

<h1>Create Patient</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
